#back-to-top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 26px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    color: #343a40;
    cursor: pointer;
    outline: none;
    border: 3px solid #343a40;
    border-radius: 50%;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-property: background-color, color;
    z-index: 99;

    &:hover,
    &:focus {
        background-color: #343a40;
        color: #fff;
    }

    @media only screen and (max-width: 900px) {
        font-size: 18px;
        width: 45px;
        height: 45px;
        bottom: 20px;
        right: 20px;
    }

    @media only screen and (max-width: 700px) {
        font-size: 18px;
        width: 40px;
        height: 40px;
        bottom: 20px;
        right: 15px;
    }
}

/* Animations */
.btnEntrance {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: btnEntrance;
}

@keyframes btnEntrance {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.btnExit {
    animation-duration: 0.25s;
    animation-fill-mode: both;
    animation-name: btnExit;
}

@keyframes btnExit {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
}
